* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

.countries-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.country-contents {
  display: flex;
}

.country-flag {
  margin: auto 0;
}

.country-flag img {
  display: flex;
  max-width: 100px;
}

.country-desc {
  padding-left: 10px;
}

.pagenumbers button {
  text-align: center;
  width: 25px;
  height: 25px;

  border: none;
  outline: none;
  cursor: pointer;

  background-color: #44aaee;

  margin: 5px;
  transition: 0.4s;

  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
