* {
  box-sizing: border-box;
  list-style-type: none;
}

.countries-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.countries-contents {
  text-align: center;
}

.country-flag {
  max-width: 150px;
}
